<!doctype html>
<html ng-app="postsApp">
<head>

    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    {% stylesheets '@CvutFitBiWT1BlogUiBundle/Resources/public/css/normalize.css' '@CvutFitBiWT1BlogUiBundle/Resources/public/css/main.css' '@CvutFitBiWT1BlogUiBundle/Resources/public/css/css/bootstrap.min.css' %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular-resource.js"></script>

    {% block javascripts %}
        {% javascripts '@CvutFitBiWT1BlogUiBundle/Resources/public/js/app.js'
                       '@CvutFitBiWT1BlogUiBundle/Resources/public/js/controller.js'
                        '@CvutFitBiWT1BlogUiBundle/Resources/public/js/services.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}

    {% endblock %}

    <title>{% block title %}BI-WT1 | Blog{% endblock %}</title>
</head>
<body>
<header>
    {% block menu %}
        <nav class="menu">

            {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
                <div class="logo-box">
                    <h1 class="logo">
                        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/ll.png' %}
                        <a href="{{ path('home') }}">
                            <img class="logo" src="{{ asset_url }}" alt="Blog logo" height="100" width="150"/>
                        </a>
                        {% endimage %}
                    </h1>
                </div>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <p class="username" >{{ app.user.username }}</p>
                {% endif %}
                <ul>
                    <li><a href="/">home</a></li>
                    <li><a href="/trending">Trending</a></li>
                    <li><a href="/politics">Politics</a></li>
                    <li><a href="/life">Life</a></li>
                    <li><a href="/sport">Sport</a></li>
                    <li><a href="/All">All</a></li>

                    <li class="log1"><a href="/login">Login
                            {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/login.png' %}
                            <img src="{{ asset_url }}" alt="Blog login" height="32" width="37"/>
                            {% endimage %}</a>

                    <li class="log2"><a href="{{ path('logout') }}">logout
                            {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/logout.png' %}
                            <img src="{{ asset_url }}" alt="Blog login" height="32" width="37"/>
                            {% endimage %}</a></li>
                </ul>
            {% endif %}
        </nav>
    {%  endblock %}
</header>
{% if not is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
    <h2>Prihlaseni uzivatele:</h2>
{% endif %}
<hr class="cleaner" />
<div class="container" id="content">

    <article class="content-left">

        {% block all_posts %}
        {% endblock %}
    </article>

    {% if is_granted('ROLE_USER') or is_granted('ROLE_ADMIN')%}
        <aside class="content-right">
            {% block sidebar %}

                <nav class="kategorie">
                    <h2>Filtering</h2>
                    <ol>
                        <li><a href="/author">By Author</a></li>
                        <li><a href="/date">By Date</a> </li>
                        <li><a href="/private">By Private</a> </li>
                        <li><a href="/tag">By Tags</a> </li>
                    </ol>
                </nav>
                <a href="new" class="btn-primary">Add post</a>



            {% endblock %}
        </aside>
    {% endif %}

</div>



</body>
</html>