{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/Angular/base.html.twig' %}

{% block all_posts %}

    <a href="#/posts" class="btn btn-primary">Show all posts </a>

    <div ng-view></div>

{% endblock %}