

    {%  verbatim %}
    <div ng-controller="ExampleController" >

        <span ng-init="show_detail=true"></span>

         <div id="post_detail" ng-style="myStyle2" ng-show="show_detail" class="ng-hide">
            <p class="title"><a class="title" >{{ post_one.title }}</a></p>
        <p>{{ post_one.text }}</p>
        <span ng-if="post_one.comments.length >0 " >
                Count of comments:  {{ post_one.comments.length }} <br></span>

        <span ng-repeat="tag in post_one.tags" class="btn btn-success"> {{ tag.title }}</span>
        <div class="date">
            <time>{{ post_one.created | date:'d.M.yyyy'}}</time> <span class="author">&nbsp;{{ post_one.author.username }}</span>
        </div>
             <button id="edit" class="btn btn-default" ng-click="myStyle={visibility: 'visible'}; myStyle2={visibility: 'collapse'};show_detail=false;">Edit</button>
         </div>




    <div id="formular" ng-style="myStyle" style="visibility: hidden" >

        <form novalidate class="css-form" ng-submit="submit(post_one)" name="myForm">

            <div class="form-group">
                <div ng-show="myForm.$submitted || myForm.title.$touched">
                    <div ng-show="myForm.title.$error.required">Title can't be blank!</div>
                </div>
            <label for="title">Title:</label>
                <input type="text"  ng-model="post_one.title" name="title" id="title" class="form-control" required=""/>
            </div>


            <textarea ng-model="post_one.text" rows="6" class="form-control" required></textarea>
            <div class="form-group">
                <label for="author"> Author: </label>
                <input type="text"   ng-model="post_one.author.username" id="author" class="form-control" required />
            </div>
            <!--Tags:-->
            <!--<span ng-repeat="tag in post_one.tags" >-->
                <!--<div class="checkbox">-->
                    <!--<label>-->
                        <!--<input type="checkbox" ng-model="tag.title" ngTrueValue="tag.title">{{ tag.title }}-->
                    <!--</label>-->
                <!--</div>-->
            <!--</span>-->

            <div class="form-group">

            <label for="exampleInput">Datum:</label>
            <input type="datetime-local" id="exampleInput" name="input" ng-model="post_one.created"
                   placeholder="yyyy-MM-ddTHH:mm:ss" min="2015-01-01T00:00:00" max="2016-12-31T00:00:00" required />

                <div role="alert">
                        <span class="error" ng-show="myForm.input.$error.required">
                            Required!</span>
                        <span class="error" ng-show="myForm.input.$error.datetimelocal">
                            Not a valid date!</span>
                    </div>

            </div>

            <input type="submit" id="submit" value="Save" class="btn btn-primary" ng-click="show_detail=true"/>

        </form>

    </div>
</div>
    {% endverbatim %}
