{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}

    {% if  app.request.get('id')>0 %}
        {% set startPage=app.request.get('id')%}
        {% else  %}
        {% set startPage=1 %}
    {% endif %}

    {% set i=1 %}
<div class="tmp">
    {% for post in posts %}
        {% if i<4+startPage %}
            {% if i>=startPage %}

                {% if is_granted('ROLE_USER') %}
                    <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>
                {% elseif post.isPrivate %}
                    <p class="title">{{ post.title }}</p>

                    {% else %}
                    <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>
                {% endif %}
        <p>{{ post.get150Text }}</p>
    {% for tag in post.tags %}
       <span class="btn btn-success"> {{ tag.title }}</span>
        {% endfor %}
                {% if post.isPrivate %}
                    <span class="bg-danger">Private post</span>
                {% endif %}
        <div class="date">
            <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
        </div>


            {% endif %}
        {% endif %}
        {% set i=i+1 %}


    {% endfor %}

</div>


    {% block javascripts %}
        {% javascripts '@CvutFitBiWT1BlogUiBundle/Resources/public/js/skript.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %}

    <nav id="divPaging">
        <ul class="paging">
            {% if startPage>=4 %}
            <li><a class="btn-info" href="{{ path('All',{'id':startPage-4}) }}"> Page {{ startPage/4+0.75-1}} </a></li>
             {% endif %}
            <span>Page {{ startPage/4+0.75}} </span>
            {% if startPage+4 <= count  %}
            <li><a class="btn-info" href="{{ path('All',{'id':startPage+4}) }}"> Page {{ startPage/4+1.75}} </a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}


