{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Filtering By Author{% endblock %}

{% block body %}

<h2>Filtering By Author</h2>
    <form action="author" method="get" class="author_form">

        {% for user in users%}

            <input type="checkbox" name='n[]' value={{user.id}} >{{ user.name }}<br>
        {% endfor %}
       <input class="btn btn-primary" type="submit" value="Filter">
    </form>


    {% set array=app.request.get('n') %}


    {% for post in posts %}
        {% for item in array %}

                {% if item==post.author.id  %}
                    <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

                    <p>{{ post.get150Text }}</p>
                    <div class="date">
                        <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
                    </div>
                {% endif %}

        {% endfor %}
    {% endfor %}
{% endblock %}