{% if not comment.spam %}


    <article>
        <p class="comment_par"><span class="author">{{ comment.getAuthorName }} </span> on <time>{{ comment.created|date(date_format) }}</time> said:</p>
        <p class="bg-info">{{ comment.text }}</p>
    {% if is_granted('edit',post) %}
        <a href="/comment/{{ comment.id }}/delete" class="btn-info">Delete comment</a>
        <a href="/updateComment/{{ comment.id }}" class="btn-info">Edit comment</a>
        {% endif %}
        <hr>
    </article>



        <span>{% if comment.parent %}
        <a href="#{{ comment.parent.id }}" >@{{ comment.parent.author.name }}</a>,
        {% endif %} </span>


    {% if comment.children %}
        <ul>
            {% for child in comment.children %}
                {% include "@CvutFitBiWT1BlogUiBundle/Resources/views/Post/comments.html.twig" with {'comment': child}%}
            {% endfor %}
        </ul>
    {% endif %}

{% endif %}