{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Nový příspěvek{% endblock %}

{% block body %}


    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

{% endblock %}