{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Filtering By Date{% endblock %}

{% block body %}
    <h2>Filtering By Month</h2>
<form action="date" method="get">

    <input type="month" name="mon" value="<?php echo date('F-m');?>">
    <input type="submit" class="brn btn-primary" value="Filter">
</form>

    <p> {{ app.request.get('mon')}}</p>
    {% for post in posts %}
        {% if post.created|date(date_month)== app.request.get('mon')%}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

            <p>{{ post.get150Text }}</p>
            <div class="date">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>

        {% endif %}

    {% endfor %}
{% endblock %}