{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}Post{% endblock %}
{% block body %}
    <p><a href="/">Blog</a> >>><a href='/'+{{ post.getTag }}> {{post.getTag}}</a>  >>> {{ post.getSmallTitle }}</p>
    <p class="title"> {{ post.title }}</p>
    <p>Publish from <time> {{ post.publishFrom|date(date_format2) }}</time> to <time>{{ post.publishTo|date(date_format2) }}</time></p>

    {% if post.file %}
    <img src="{{ asset('images/' ~ post.file ) }}" height="300" width="500"/>
        {% endif %}

    <p class="text"> {{ post.getText }}</p>


    <section id="comments">

        <div class="date">
            <time>{{ post.getCreated|date(date_format) }}</time>,{% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
        </div>


        {#{% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/' %}#}

        {#<img src="{{ asset_url ~ post.file}}" alt="Blog login" height="32" width="37"/>#}
        {#{% endimage %}#}

    {% if is_granted('ROLE_USER') %}

        {% if is_granted('edit',post) %}
        <a href="/post/{{ post.getId }}/delete" class="btn-primary">Delete post</a>
        <a href="/update/{{ post.getId }}" class="btn-primary">Update post</a>
       {% endif %}

        <h2>Comments</h2>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}

        {% for comment in comments.getIterator %}
            {% include "@CvutFitBiWT1BlogUiBundle/Resources/views/Post/comments.html.twig" with {'comment': comment,'post':post} %}
        {% endfor %}



        <nav id="divPaging">
            <ul class="paging">

                {% if maxPages > 1 %}
                    {% if thisPage > 1 %}
                        <a href="{{ path('detail_page', {'page' : thisPage-1, 'id' : post.id}) }}"><< </a>
                    {% endif %}
                    {{ thisPage }}
                    {% if thisPage < maxPages %}
                        <a href="{{ path('detail_page', {'page' : thisPage + 1, 'id' : post.id}) }}"> >></a>
                    {% endif %}
                {% endif %}

                {% if replyy == "1" %}

                {% endif %}
                {{ form(form) }}
            </ul>
        </nav>
    {% endif %}
    </section>

{% endblock %}