{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}
    <div class="categories">

            {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/trending2.jpg' %}
     <a href="{{ path('trending') }}">
        <img class="item" src="{{ asset_url }}" alt="Trending" />
    </a>
    {% endimage %}

        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/politics2.jpg' %}
        <a href="{{ path('politics') }}">
            <img class="item" src="{{ asset_url }}" alt="Politics" />
        </a>
        {% endimage %}

        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/life2.jpg' %}
        <a href="{{ path('life') }}">
            <img class="item" src="{{ asset_url }}" alt="Life" />
        </a>
        {% endimage %}
        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/sport2.jpg' %}
        <a href="{{ path('sport') }}">
            <img class="item" src="{{ asset_url }}" alt="Life" />
        </a>
        {% endimage %}
        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/tech2.jpg' %}
        <a href="{{ path('tech') }}">
            <img class="item" src="{{ asset_url }}" alt="Tech" />
        </a>
        {% endimage %}
        {% image '@CvutFitBiWT1BlogUiBundle/Resources/public/img/all.jpg' %}
        <a href="{{ path('All') }}">
            <img class="item" src="{{ asset_url }}" alt="All" />
        </a>
        {% endimage %}


    </div>


   {% endblock %}