{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block body %}
{% if error %}
    <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<form action="{{ path('login_check') }}" method="post">
    <label for="username">Username:</label>
    <input type="text" id="username" name="_username" value="{{ last_username }}" />

    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="_password" />

    <br>
    {#
        If you want to control the URL the user
        is redirected to on success (more details below)
        <input type="hidden" name="_target_path" value="/account" />
    #}

    <button type="submit" class="btn-primary">login</button>
    <a href="/register" class="btn-primary">Register</a>
</form>

{% endblock %}