{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Nový příspěvek{% endblock %}

{% block body %}

    <script>
        function ready() {

            var errors = document.getElementsByClassName('has-error');

            if (errors.length!=0) {

                var elements=document.getElementsByClassName('help-block');

                for (var i = 0; i < elements.length; i++) {

                    alert(elements[i].textContent);
                }

            }

            var dangers=document.getElementsByClassName("alert-danger");

            if (dangers.length!=0) {

                    alert(dangers[0].textContent);


            }
        }

        document.addEventListener("DOMContentLoaded", ready);
    </script>


    {{ form_start(form) }}
    {{ form_widget(form) }}

    {#{{ form_row(form.file) }}#}

    {{ form_end(form) }}




{% endblock %}