{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}{{ tag }}{% endblock %}
{% block body %}


    {% for post in posts %}

        {% if is_granted('ROLE_USER') %}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>
        {% elseif post.isPrivate %}
            <p class="title">{{ post.title }}</p>

        {% else %}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>
        {% endif %}


        <div>
            {{ post.get150Text }}
            <br>
            {% for tag in post.tags %}
                <span class="btn btn-success"> {{ tag.title }}</span>
            {% endfor %}
            {% if post.isPrivate %}
                <span class="bg-danger">Private post</span>
            {% endif %}

            <div class="date">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>

        </div>

    {% endfor %}

{% endblock %}


