{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Filtering By Private{% endblock %}

{% block body %}
<h2>Filtering By Private Posts</h2>
<form action="private" method="get" class="author_form">

    <input type="radio" name='private' value="nula" >Private Posts<br>
    <input type="radio" name='private' value="jedna" >Public Posts<br>
    <input class="btn btn-primary" type="submit" value="Filter">
</form>


    {%  set priv=app.request.get('private') %}


    {% for post in posts %}
             {% if post.private==0 and priv=="nula" %}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

            <p>{{ post.get150Text }}</p>
            <div class="date">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>
             {% endif %}
        {% if post.private==1 and priv=="jedna" %}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

            <p>{{ post.get150Text }}</p>
            <div class="date">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>
        {% endif %}
     {% endfor %}

{% endblock %}