{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}Index{% endblock %}
{% block body %}

    {% if  app.request.get('id')>0 %}
        {% set startPage=app.request.get('id')%}
        {% else  %}
        {% set startPage=1 %}
    {% endif %}

    {% set i=1 %}

    {% for post in posts %}
        {% if i<4+startPage %}
            {% if i>=startPage %}
        <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

        <p>{{ post.get150Text }}</p>
        <div class="date">
            <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
        </div>


            {% endif %}
        {% endif %}
        {% set i=i+1 %}

    {% endfor %}

    <nav id="divPaging">
        <ul class="paging">
            {% if startPage>=4 %}
            <li><a class="btn-info" href="{{ path('All',{'id':startPage-4}) }}"> Page {{ startPage/4+0.75-1}} </a></li>
             {% endif %}
            <span>Page {{ startPage/4+0.75}} </span>
            {% if startPage+4 <= count  %}
            <li><a class="btn-info" href="{{ path('All',{'id':startPage+4}) }}"> Page {{ startPage/4+1.75}} </a></li>
            {% endif %}
        </ul>
    </nav>
{% endblock %}