{% extends 'CvutFitBiWT1BlogUiBundle::base.html.twig' %}

{% block page_name %}Filtering By Tag{% endblock %}

{% block body %}
<h2>Filtering By Tags</h2>
<form action="tag" method="get" class="author_form">

    {% for tag in tags %}

    <input type="checkbox" name='n[]' value={{tag.id}} >{{ tag.title }}<br>
    {% endfor %}
    <input class="btn btn-primary" type="submit" value="Filter">
</form>
  {% set array=app.request.get('n') %}

  <p> {{app.request.get('n[1]') }}</p>
    {% for post in posts %}
        {% set tmp=0 %}
        {% for item in array %}
           {% for tagg in post.tags %}
             {% if item==tagg.id and tmp==0  %}
            <p class="title"><a class="title" href="{{ path('detail', {'id':post.id}) }}" >{{ post.title }}</a></p>

            <p>{{ post.get150Text }}</p>
            <div class="date">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>
               {% set tmp=1 %}
     {% endif %}
           {% endfor %}
     {% endfor %}
    {% endfor %}
{% endblock %}