{% extends '@CvutFitBiWT1BlogUiBundle/Resources/views/base.html.twig' %}
{% block title %}{{ tag }}{% endblock %}
{% block body %}

    {% for post in posts %}

        <div class="show">
            <p class="title">
                <a class="title1" href="{{ path('detail', { 'id': post.id }) }}">{{ post.title }}</a>
            </p>

            <button type="button" class="btn btn-info btn-lg" data-tooltip="{{ post.id}}">Show detail</button>


            <div class="date" style="visibility: hidden">
                <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
            </div>

            <!--div class="modal-body">

                <div class="date">
                    <time>{{ post.created|date(date_format) }}</time>, {% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
                </div>

            </div-->


        </div>
   {% endfor %}


  <div class="modal-fade"></div> <!-- prekryti obsahu polopruhlednou barvou -->
  <div class="modal"> <!-- hlavni element pro modalni okno -->
    <div class="modal-header">
    </div>
    <div class="modal-body">
    </div>
      <div class="modal-author">
      </div>
      <div class="modal-date">
      </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default">Close</button>
                </div>
  </div>


    {#% block javascripts %}
        {% javascripts '@CvutFitBiWT1BlogUiBundle/Resources/public/js/skript2.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    {% endblock %#}

{% endblock %}