
<ul >
    <li class="title" style="font-weight: bold;font-size: 1.2em;text-decoration: none;list-style: none">{{ post.title }}</li>
    <li class="text">{{ post.text }}</li>
    <li class="date">
        <time>{{ post.getCreated|date(date_format) }}</time>,{% if post.author %}<span class="author">{{ post.author.name }}</span>{% endif %}
    </li>
</ul>