
{%  verbatim %}
<p class="title"><a class="title" href="#/post/{{ post.id }}">{{ post.title }}</a></p>
<span ng-if="post.comments.length >0 " >
            Count of comments:  {{ post.comments.length }} <br></span>

<span ng-repeat="tag in post.tags" class="btn btn-success"> {{ tag.title }}</span>
<div class="date">
    <time>{{ post.created | date:'d.M.yyyy'}}</time>,<span class="author">&nbsp;{{ post.author.username }}</span>
</div>


{% endverbatim %}