

<article ng-repeat="post in postList.list" >

    <p class="title"><a class="title" >{{ post.title }}</a></p>
    <div class="date">
        <time>{{ post.created | date:'d.M.yyyy'}}</time>,<span class="author">&nbsp;{{ post.author.username }}</span>
    </div>
    <div post-short></div>div>
</article>

